.brand-link {
    line-height: 1.5;
    padding: .8125rem .5rem;
    /*transition: width .3s ease-in-out;*/
    white-space: nowrap;
    height: 177px !important;
    margin: -7px auto;
}

    .brand-link img {
        height: 140px !important;
        width: 110px !important;
    }

    .brand-link .brand-image {
        margin-left: 3.0em; /*3.5em;*/
        margin-top: 10px !important;
        max-height: 140px;
        width: auto;
    }
